<div id="login-container">
  <form name="loginForm" class="login-form" action="/login" method="post">
    <input type="email" name="email" value="" placeholder="Enter your email" />

    <input
      type="password"
      name="password"
      value=""
      placeholder="Enter your password"
    />

    <button type="submit" class="basic-btn">Log in</button>
    <a href="/signup"> Not a member? Sign-up here!</a>
  </form>

</div>