<div id="login-container">
  <h2>Please sign up:</h2>
  <form name="signupForm" class="login-form" action="/signup" method="post" enctype="multipart/form-data">
    <input
      type="username"
      name="username"
      value=""
      placeholder="Enter your username"
    />
    <input type="email" name="email" value="" placeholder="Enter your email" />
    <input
      type="password"
      name="password"
      value=""
      placeholder="Enter your password"
    />
    <label>Upload a profile photo:<br>
    <input
    type="file"
    name="profilePhoto"
    value=""
    placeholder="upload the image"
    /></label>
    <br>
    <button type="submit" class="basic-btn">Sign up</button>
    <a href="/login"> Already a member? Log in here!</a>
  </form>

</div>