<div class="basic-container" id="index-page-content">
    <div id="index-text-and-button">
            <h1>FESTIVA</h1><br><br>
            <p>Looking to throw an epic festival but don't know where to start? Look no further than Festiva! We're the ultimate party planners, helping you create the most awesome, mind-blowing, and unforgettable festivals around. &#128526;
            <br><br>
            Plus, with our lively community of festival enthusiasts, you'll never run out of ideas or inspiration. So come on, join the Festiva family and let's create some unforgettable memories together!
            </p>
            <br>
            <br>
            <div id="index-page-buttons">
                <a href="/signup">
                    <button class="basic-btn">Join the Community</button>
                 </a>

            </div>
    </div>
    <div id="index-page-slides" style="max-width:700px">
        <img class="mySlides" src="/images/slide1.jpg" style="width:100%">
        <img class="mySlides" src="/images/slide2.jpg" style="width:100%">
        <img class="mySlides" src="/images/slide3.jpg" style="width:100%">
    </div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>