<div class="basic-container" id="index-page-content">
    <h1>&#127881; FESTIVA &#127881;</h1>
    <p>Looking to throw an epic festival but don't know where to start? Look no further than Festiva! We're the ultimate party planners, helping you create the most awesome, mind-blowing, and unforgettable festivals around. &#128526;
    <br><br>
    Plus, with our lively community of festival enthusiasts, you'll never run out of ideas or inspiration. So come on, join the Festiva family and let's create some unforgettable memories together!
    </p>
    <br>
    <hr>
    <br>
    <div id="index-page-buttons">
         <a href="/signup">
             <button class="basic-btn">Sign up</button>
        </a>
        <a href="/login">
            <button class="basic-btn">Log in</button>
        </a>

    </div>
    
 
</div>


{{!-- links or buttons to log in and sing up --}}