<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      
   </head>


     <nav id="nav-bar">
      <div id="logo-and-name">
         <h4>FESTIVA</h4>
      </div>
      <div id="links-navbar">
         <a href="/login">Log in  |</a>
         <a href="/signup">Sign up  |</a>
         <a href="/festival/festival-list">Festivals  |</a>
         <a href="/festival/create">Add an event</a>
      </div>
    </nav>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
     
   </body>
   <footer>
      created by Michel and Olga
   </footer>

</html>