<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      
   </head>
     <nav id="nav-bar">
      <input type="checkbox" id="check">
      <label for="check">
         <i class="bi bi-list" id="menu-btn"></i>
         <i class="bi bi-x-lg" id="close-menu"></i>
      </label>
      <div id="logo-and-name">
         <h4>FESTIVA</h4>
      </div>
      <div id="links-navbar">
         <a href="/">Home</a>
         <a href="/login">Log in</a>
         <a href="/signup">Sign up</a>
         <a href="/festival/festival-list">Festivals</a>
         <a href="/festival/create">Add an event</a>
      </div>
    </nav>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
     
   </body>
   <footer>
      created by <a href="https://github.com/michelsaber" target="_blank">Michel</a> and <a href="https://github.com/olga321go" target="_blank">Olga</a>
   </footer>

</html>