/* /* color scheme
light gray:#DFDFDF
dark gray: #31333B
neon green:#ADEB68
blue: #182ABB */

* {
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: #DFDFDF; */
  color: #31333b;
}

a {
  text-decoration: none;
  color: #dfdfdf;
}

a:hover {
  color: #adeb68;
}

h1 {
  font-size: 50px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #31333b;
  height: 80px;
  border-bottom: #adeb68 5px solid;
}

#logo-and-name {
  display: flex;
  align-items: center;
}

#logo-and-name h4 {
  color: #dfdfdf;
  font-size: 20px;
}

#links-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.basic-container {
  /* width: 500px;
  margin: 100px auto; */
  display: flex;
  /* max-width: 500px; */
  /* align-self: center; */
  padding: 50px 100px;
  gap: 50px;
}

#index-page-content {
  display: flex;
  text-align: center;
  align-items: center;
}

#index-text-and-button p {
  font-size: 16px;
  line-height: 150%;
}

.basic-btn {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  min-height: 20px;
  height: 4vw;
  max-height: 40px;
  width: auto;
  font-weight: 700;
  font-size: 18px;
  color: #dfdfdf;
  letter-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  /* position: relative; */
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border-width: 0px;
  transition: transform 0.1s ease 0s;
  background-color: rgb(48, 49, 55);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
}

.basic-btn:hover {
  background-color: #1a1919;
  color: white;
}

#index-page-slides img {
  width: 700px;
}

footer {
  background-color: #31333b;
  color: #dfdfdf;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  border-top: #adeb68 solid 5px;
}

#create-festival {
  display: flex;
  flex-direction: column;
  /* border: red solid 1px; */
  align-items: center;
}

#create-festival form {
  /* border: solid green 1px; */
  text-align: center;
}

#create-festival form input {
  padding: 5px 0;
  margin-bottom: 5px;
  width: 100%;
}

#ticket-input {
  width: 95% !important;
}

#new-festival-btn {
  margin-top: 10px;
}

/*login hbs styling*/
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

#login-container {
  position: fixed;
  width: 340px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
}

#login-container form {
  margin: 0 auto;
  margin-top: 20px;
}

#login-container input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  outline: none;

  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
}

#login-container a {
  color: #787878;
  padding-top: 20px;
}

#login-container a:hover {
  color: #31333b;
  align-self: center !important;
}
