/* /* color scheme
light gray:#DFDFDF
dark gray: #31333B
neon green:#ADEB68
blue: #182ABB */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* background-color: #DFDFDF; */
  color: #31333b;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: #dfdfdf;
}

a:hover {
  color: #DFDFDF;
  text-shadow:
      0 0 7px #DFDFDF,
      0 0 10px #DFDFDF,
      0 0 21px #DFDFDF,
      0 0 42px #ADEB68,
      0 0 82px #ADEB68,
      0 0 92px #ADEB68,
      0 0 102px #ADEB68,
      0 0 151px #ADEB68;
}

h1 {
  font-size: 50px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #31333b;
  height: 60px;
  border-bottom: #adeb68 5px solid;
}

#links-navbar a,
footer {
  font-size: 14px;
  
}

#links-navbar a {
  /* position: relative; */
}

#links-navbar a:before {
  /* position: absolute; */
}
#logo-and-name {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 1%;
}

#logo-and-name h4 {
  color: #dfdfdf;
  font-size: 20px;
}

#links-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.basic-container {
  /* width: 500px;
  margin: 100px auto; */
  display: flex;
  /* max-width: 500px; */
  /* align-self: center; */
  padding: 50px 100px;
  gap: 20px;
  /* border: 1px solid yellow; */
}

#index-page-content {
  display: flex;
  text-align: center;
  align-self: center;
  /* border: solid red 1px; */
  align-items: center ;
  height: 70vh;
}

#index-content-slides {
  display: flex;
  gap: 20px;
  /* border: solid green 2px; */
  margin: 0 auto;
  align-items: center ;
  
}

#index-text-and-button {
  max-width: 500px;
}

#index-text-and-button p {
  font-size: 16px;
  line-height: 150%;
}

#index-page-slides img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.basic-btn{
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    /* min-height: 20px; */
    /* height: 4vw; */
    /* max-height: 40px; */
    height: fit-content;
    width: auto;
    font-weight: 700;
    font-size: 18px;
    color:#DFDFDF;
    letter-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    /* position: relative; */
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border-width: 0px;
    transition: transform 0.1s ease 0s;
    background-color: #31333b;
    color: white;
    padding: 5px 20px;
  }
  
.basic-btn:hover {
    background-color: #1a1919;
    color: white;
    text-shadow:
        0 0 7px #DFDFDF,
        0 0 10px #DFDFDF,
        0 0 21px #DFDFDF,
        0 0 42px #ADEB68,
        0 0 82px #ADEB68,
        0 0 92px #ADEB68,
        0 0 102px #ADEB68,
        0 0 151px #ADEB68;
}

#index-page-slides img{
    width: 700px; 
}

footer {
    background-color: #31333B;
    color: #DFDFDF;
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    border-top: #ADEB68 solid 5px;
}

#create-festival {
  display: flex;
  flex-direction: column;
  /* border: red solid 1px; */
  align-items: center;
}

#columns-container {
  display: flex;
}

#create-festival form {
  /* border: solid green 1px; */
  text-align: center;
}

#create-festival form input {
  /* padding: 5px 0;
  margin-bottom: 5px;
  width: 100%; */
  font-size: 12px;
  outline: none;

  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
}

#create-festival form textarea {
  font-family: inherit;
  font-size: 12px;
  outline: none;

  color: #777;
  padding-left: 10px;
  padding-top: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;

}

#select-multiple-input {
  /* overflow-y: auto; */
  padding: 10px;
  

}

#new-festival-btn {
  margin-top: 10px;
}


/*login hbs styling*/
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 50px; */
}

#login-container,
#edit-page {
  padding: 50px 100px;
  text-align: center;
  /* position: fixed;
  width: 340px;
  height: 280px; */
  /* top: 50%;
  left: 50%; */
  /* margin-top: -140px;
  margin-left: -170px; */
}

#login-container form {
  margin: 0 auto;
  /* margin-top: 20px; */
}

#login-container input,
#edit-page input {
  /* I coded this font for the whole body so it's the same everywhere */
  /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
  font-size: 12px;
  outline: none;

  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
}

#login-container a {
  color: #787878;
  padding-top: 20px;
}

#login-container a:hover {
  color: #31333b;
  align-self: center !important;
}

#all-fest-page {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: solid red 2px; */
}

.festival-card {
  background-color: #31333B;
  color: #DFDFDF;
  /* padding: 10px; */
  gap: 10px;
  max-width: 250px;
  /* position: relative; */
}

#all-festivals-box {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 40px;
  /* border: yellow solid 2px; */
  justify-content: center;
}

#table-container {
  background-color: #31333B;
}

.festival-card img {
  max-width: 100%;
  height: auto;
}

.festival-card h3,
.festival-card h5 {
  text-align: center;
  /* border: solid yellow 1px; */
}

.festival-card a,
#table-container a {
  display: block;
  width: 100%;
  text-align: center;
  /* border: solid yellow 1px; */
  /* position: absolute; */
  bottom: 0;
  padding-bottom: 10px;
}

#table-container a {
  background-color: #ADEB68;
  color: #31333B;
  padding-top: 10px;
}

#detail-page {
  display: flex;
  padding: 50px 100px;
  gap: 50px;
  height: 70vh;
  /* border: solid red 2px; */

}

#detail-page-img {
  max-width: 700px;
}

#detail-page-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#delete-edit-buttons {
  display: flex;
  gap: 20px;
}

#delete-button:hover {
  background-color: #1a1919;
  color: red;
  text-shadow:
      0 0 7px white,
      0 0 10px white,
      0 0 21px white,
      0 0 42px red,
      0 0 82px red,
      0 0 92px red,
      0 0 102px red,
      0 0 151px red;
}

/* #edit-page {
  padding: 50px 100px;
}

#edit-page h2 {
  text-align: center;
} */

/* #edit-info-input {
  width: 100%;
  height: 50px;
  max-height: 80px;
  border: solid red 2px;
} */

#profile-page {
  /* border: #ADEB68 solid 1px; */
  justify-content: center;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

#profile-page h1 {
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

#profile-page a {
  color: #31333B;
}

#profile-page-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: #31333B solid 5px;
  border-bottom: #31333B solid 5px;
  gap: 20px;
}

#profile-page-img-btn {
  /* border: solid yellow 2px; */
}

#profile-page-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  /* border:#ADEB68 solid 2px; */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-page-text {
  display: flex;
  gap: 50px;
}

/* #profile-page-img-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */

#profile-page-content a:hover {
  color: #31333B;
  text-shadow:
        0 0 7px #ADEB68,
        0 0 10px #ADEB68,
        0 0 21px #ADEB68,
        0 0 42px #ADEB68,
        0 0 82px #ADEB68,
        0 0 92px #ADEB68,
        0 0 102px #ADEB68,
        0 0 151px #ADEB68;
}

#profile-page-buttons {
  display: flex;
  flex-direction: column;
  /* border: red solid 1px; */
  gap: 10px;
}

#profile-page-buttons button {
  width: 100%;
}


/* invisible menu stuff for mobile */
label #menu-btn,
label #close-menu {
  color:#DFDFDF;
  font-size: 30px;
  float: right;
  line-height: 50px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  body {
    /* necessary to spot footer from hiding content */
    margin-bottom: 50px;
  }
/* turning navbar into burger menu */
  label #menu-btn {
    display: block;
    float: right;
    /* border: solid pink 1px; */
  }

  #nav-bar {
    display: block;
  }

  #links-navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #31333B;
    top: 65px;
    left: -100%;
    transition: all .5s;
    text-align: center;
    /* border: solid yellow 1px; */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
  }

  #links-navbar a {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    /* border: solid red 1px; */
  }

  #check:checked ~ #links-navbar {
    left: 0;
  }

  #check:checked ~ label #menu-btn {
    display: none;
  }

  #check:checked ~ label #close-menu {
    display: block;
  }

  /* index page edit */
  .basic-container {
    /* margin-top: 65px; */
    padding: 0px 20px;
    gap: 5px;
    /* margin-bottom: 50px; */
  }
  #index-content-slides {
    flex-direction: column;
    border: solid red 1px;
    /* padding-top: 50px; */
  }

  #index-content-slides h1 {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  #index-content-slides p {
    font-size: 16px;
    border: solid red 1px;
  }

  footer {
    padding: 5px 10px;
    height: 20px;
    align-items: center;
  }

  /* adjusting create festival form */
  #columns-container {
    flex-direction: column;
    padding-bottom: 20px;
  }

  #all-fest-page {
   /* border: solid 1px red; */
  }

  #all-fest-page h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  #all-festivals-box {
    flex-direction: column !important;
    flex-wrap: nowrap;
    width: 90%;
    /* border: solid yellow 2px; */
  }

  #table-container {
    width: 90%;
    /* border: solid green 3px; */
    margin: 0 auto;
  }

  #table-container a {
    background-color: #ADEB68;
    color: #31333B;
    padding-top: 10px;
  }

  .festival-card {
    max-width:inherit;
  }

  .hidden-mobile {
    display: none;
  }

  #detail-page {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin-bottom: 200px;
  }

  #detail-page-img img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  #detail-page-text h1 {
    text-align: center;
    font-size: 36px;
  }

  #detail-page-text h3 {
    font-size: 16px;
  }

  #delete-edit-buttons {
    justify-content: center;
  }

  #edit-page {
    /* border: solid red 2px; */
    padding: 10px;
  }

  #profile-page {
    padding-top: 20px;
  }

  #profile-page h1 {
    font-size: 40px;
  }

  #profile-page-text {
    flex-direction: column;
  }

  #profile-page-img-btn img {
    width: 150px;
    height: 150px;
  }



}

