/* color scheme
lightest blue: #6F968E
darker blue: #127581
yet darker: #0E5D79
navy: #122545
light sand: #E4D3AF
darker sand: #D7A370
orange: #D07245
dark orange: #BE4731
green: #41B3A3 */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: 15px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

#logo-and-name {
  display: flex;
}

#logo-and-name img {
  height: 40px;
}

#links-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basic-container {
  width: 500px;
  margin: 100px auto;
  
}

#index-page-content {
  text-align: center;
}
