<div class="basic-container" id="create-festival">
  <h2>CREATE A NEW FESTIVAL</h2>
  <form name="newFestivalForm" class="" action="/festival/create" method="post" enctype="multipart/form-data">
    <input
    type="text"
    name="name"
    value=""
    placeholder="Name of the festival"
    /><br>
    {{!-- <input
    type="text"
    name="author"
    value="{{currentUser._id}}"
    placeholder="Created by {{currentUser.username}}"
    /><br> --}}
    <label>Upload a festival photo:<br>
    <input
    type="file"
    name="festivalImg"
    value=""
    placeholder="upload the image"
    /></label><br>
    <input type="text" 
    name="location" 
    value="" 
    placeholder="Location" /><br>
    <input
    type="date"
    name="date"
    value=""
    placeholder="date YYYY-MM-DD"
    /><br>
    <input
    type="text"
    name="ticketPrice"
    value=""
    placeholder="Ticket price in $" 
    id="ticket-input"
    /><br>
    <textarea 
    rows = "7" 
    cols = "45" 
    name="info"
    placeholder="Info about the festival" 
    value=""></textarea>
    <br>
    <button type="submit" class="basic-btn" id="new-festival-btn">Create New Festival</button>
  </form>
</div>

{{!-- documentation page: https://www.skypack.dev/view/canvas-confetti --}}
{{!-- I've done it without npm installation, just via script tag --}}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js">
</script>
<script>
  const btn = document.getElementById('new-festival-btn');

  btn.addEventListener('click', () => {
    confetti({
      particleCount: 100,
      spread: 70,
      origin: {y: .8}
    });
  });
</script>