<h1>CREATE A NEW FESTIVAL</h1>

<form name="newFestivalForm" class="" action="/festival/create" method="post">
  <input
    type="text"
    name="name"
    value=""
    placeholder="Name of the festival"
  /><br>
  <input type="text" 
  name="location" 
  value="" 
  placeholder="Location" /><br>
  <input
    type="text"
    name="ticketPrice"
    value=""
    placeholder="Ticket price (number)"
  /><br>
    <input
    type="text"
    name="info"
    value=""
    placeholder="Info about the festival"
  />
  <br />
  <button type="submit" class="basic-btn">Create New festival</button>
</form>