<div class="basic-container all-fest-page">
    <h2>ALL FESTIVALS</h2>
    <div id="all-festivals-box">
            {{#each allFestivals}}
            <div class="festival-card">
                <h3>&#129395 {{name}}</h3><br>
                <p>{{info}}</p><br>
                <a href="/festival/{{_id}}" id="">SEE MORE</a>
            </div>
            {{/each}} 
        </div> 

    </div>
    
</div>
